a{
    text-decoration: none;
}

/* Header bar */
.header-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
}

/* Upper bar */

/* Logo imitating google docs */
.logo{
    max-width: 64px;
    height: auto;
}

.logo img{
    max-width: 48px;
}

.upper-bar{
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu-title{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.2rem;
}

.menu-items{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    font-size: 14px;
    font-weight: 400;
}

.menu-item{
    padding: 4px;
    transition: all 0.2s ease;
}

.menu-item:hover{
    background-color: #E0E0E0;
    border-radius: 4px;
    cursor: pointer;
}

.right-menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: 1rem;
}

.right-menu i{
    font-size: 1.5rem;
    font-weight: 600;
    color: #444746;
    transition: all 0.2s ease;
}

.right-menu i:hover{
    color: #000;
    cursor: pointer;
}

.profile{
    border-radius: 50%;
    background-color: #F4511E;
    color: #fff;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

/* Toolbar */
.toolbar{
    display: flex;
    align-items: center;
    max-height: 36px;
    gap: 0.5rem;
    margin: 0 2rem;
    background-color: #F0F4F9;
    padding: 1rem;
    border-radius: 25px;

}

.toolbar-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #444746;
    transition: all 0.2s ease;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.toolbar-item:hover{
    color: #000;
    cursor: pointer;
}

/* similar to hr but for vertical */
.toolbar-vr{
    width: 1px;
    height: 20px;
    background-color: #444746;
    margin: 0 0.5rem;
    opacity: 0.6;
}

.font-italic{
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.font-bold{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.font-underline{
    text-decoration: underline;
    font-weight: 500;
}

.font-color{
    position: relative;
    font-weight: 500;
}

.font-color::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translate(-49%, -3px);
    width: 20px;
    height: 3px;
    background-color: #000;
    border-radius: 1px;
}

.font-size-helper{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.individual-tool{
    padding: 4px;
    transition: all 0.2s ease;
}

.individual-tool:hover{
    background-color: #E0E0E0;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-chevron{
    margin-left: 4px;
    transform: translateY(4px);
}

hr{
    margin: 1rem 1rem 0 1rem;
    opacity: 0.6;
}

.content{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

/*Nav section on document side*/

.nav{
    width: 22vw;
    padding: 1rem;
    margin-top: 2.5rem;
    position: fixed;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    color: #444746;
    margin-left: 1rem;
    max-width: 200px;
}

.nav-header p{
    font-weight: bond;
    padding: 4px;
}

/*the blue tab thing above the tabs*/
.nav-document-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #D3E3FD;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 1rem;
    max-width: 225px;
    margin-bottom: 0.25rem;
}

.nav-tabs{
    margin-top: 0;
    margin-left: 1rem;
    position: relative;
}

.nav-tabs::before{
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #E0E0E0;
    z-index: 1;
}

.nav-tab{
    padding: 0.5rem 2rem;
    position: relative;
    color: #444746;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 8px;
}

.nav-tab a{
    color: #444746;
    text-decoration: none;
    transition: all 0.2s ease;
}

.nav-tab a:hover{
    color: #000;
}

.nav-tab:hover{
    color: #000;
}

.nav-tab.active a{
    color: #1a73e8;
    font-weight: 500;
}

.nav-tab.active::before{
    content: '';
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #1a73e8;
    z-index: 2;
}

/*Document content*/
.document-container{
    margin-left: 22vw;
}

.document{
    border: 1px solid #E0E0E0;
    background-color: #fff;
    width: 816px;
    height: 870px;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.document img{
    max-width: 20vw;
    display: block;
    margin: 0.5rem auto;
}

/* References */
.reference-author {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.reference-title {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.reference-link {
    font-family: "Times New Roman", Times, serif;
}

.reference-link a{
    color: blue;
}

.reference-link:hover{
    text-decoration: underline;
}

#reference-header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75rem;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
}

#crash-reason-source{
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
    max-width: 500px;
    display: block;
    margin: 0.5rem auto;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

/* timeline & progress */
.timeline-item{
    margin: 1rem;
}

.timeline-date, .timeline-head{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0.25rem;
}

.timeline-item li{
    margin-left: 100px;
    padding: 0.2rem;
    font-size: 1rem;
}

.github-link a{
    font-size: 1.5rem;
    color: #000;
    transition: all 0.2s ease;
}

.github-link a:hover{
    color: #454545
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cred p{
    margin: 0;
    font-style: italic;
    display: block;
}
