/* Header bar */
/* Upper bar */

/* Logo imitating google docs */
.logo img{
    max-width: 64px;
}

.upper-bar{
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 1rem
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu-title{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.2rem;
}

.menu-items{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    font-size: 14px;
    font-weight: 400;
}

.menu-item{
    padding: 4px;
    transition: all 0.2s ease;
}

.menu-item:hover{
    background-color: #E0E0E0;
    border-radius: 4px;
    cursor: pointer;
}

.right-menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: 1rem;
}

.right-menu i{
    font-size: 1.5rem;
    font-weight: 600;
    color: #444746;
    transition: all 0.2s ease;
}

.right-menu i:hover{
    color: #000;
    cursor: pointer;
}

.profile{
    border-radius: 50%;
    background-color: #F4511E;
    color: #fff;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}